<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>The status of your order №<%= @order.id %> has changed to "<%= @order.aasm_state %>"</h3>
    <p>
      
    </p>
  </body>
</html>